@model List<ResultBannerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 1;
}


<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araç Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Anasayfanın Banner Alanında bulunan bilgileri Aşağıda Düzenleyebilirsiniz.Tema Bütünlüğünün Bozulmaması
                            Adına 1 Adet Veri Girişi Yapınız.AKsi Taktirde Tema bütünlüğü bozulacaktir.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th>VideoURl</th>
                                        <th>Video Açıklama</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Videoyu Youtubede Aç</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.VideoUrl</td>
                                            <td>@item.VideoDescription</td>
                                            <td><a href="/Admin/AdminBanner/RemoveBanner/@item.BannerID" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminBanner/UpdateBanner/@item.BannerID" class="btn btn-outline-success">Güncelle</a></td>
                                            <td><a href="/Admin/AdminBanner/UpdateBanner/@item.BannerID" class="btn btn-outline-success">Youtubede Aç</a></td>
                                        </tr>
                                        count++;
                                    }

                                </tbody>
                            </table>
                            <a href="/Admin/AdminBanner/CreateBanner/" class="btn btn-outline-primary">Banner Oluştur...</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



